<div class="container">
    <form>
        <div class="form-group row">
          <label for="region" class="col-sm-1 col-form-label">Region</label>
          <div class="col-sm-2">
            <select class="form-control" id="region"
            (change)="onRegionChange($event)">
                    <option value="select">Select Region</option>
                    <option 
                    *ngFor='let region of regions' 
                    [value]="region">{{region}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="country" class="col-sm-1 col-form-label">Country</label>
          <div class="col-sm-2">
            <select class="form-control" id="country" [disabled]="isCountryDisabled"
             (change)="onCountryChange($event)">
             <option>Select Country</option>
                <option 
                    *ngFor='let country of countries'
                    [value]="country">{{country}}</option>
            </select>
          </div>
        </div>
      </form>
</div>
<div class="container">
    <app-country-details [countryDetails]="countryDetails" *ngIf="displayCountryTable"></app-country-details>
</div>
