<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Capitol</th>
        <th scope="col">Population</th>
        <th scope="col">Currencies</th>
        <th scope="col">Flag</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{countryDetails[0].name}}</td>
        <td>{{countryDetails[0].capital}}</td>
        <td>{{countryDetails[0].population}}</td>
        <td >
            <tr>Code: {{countryDetails[0].currencies[0].code}} </tr>
            <tr> Name: {{countryDetails[0].currencies[0].name}} </tr>
            <tr> Symbol: {{countryDetails[0].currencies[0].symbol}} </tr>
        </td>
        <td><img [src]="this.countryDetails[0].flag" alt="" border=3 height=100 width=100/></td>
      </tr>
    </tbody>
</table>
